/*
Syntax error: File to import not found or unreadable: partials/dimentions.
              Load paths:
                Compass::SpriteImporter
                /Users/synthmax/Dropbox/hewa/public/stylesheets/sass
                /Users/synthmax/Dropbox/hewa/app/assets/stylesheets
                /Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/compass-0.11.5/frameworks/blueprint/stylesheets
                /Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/compass-0.11.5/frameworks/compass/stylesheets
                /Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/compass-960-plugin-0.10.4/stylesheets
        on line 1 of /Users/synthmax/Dropbox/hewa/app/assets/stylesheets/simple_form.css.scss

1: @import "partials/dimentions";
2: @import "compass/css3/border-radius";
3: 
4: .simple_form{
5: 	color:#333;
6: 	margin-top:12px;

Backtrace:
/Users/synthmax/Dropbox/hewa/app/assets/stylesheets/simple_form.css.scss:1
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/import_node.rb:42:in `import'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:147:in `rescue in visit_import'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:152:in `visit_import'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/engine.rb:300:in `_render'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/engine.rb:248:in `block in render'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/engine.rb:248:in `render'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:175:in `each'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:173:in `each'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/sass-3.1.10/lib/sass/plugin/rack.rb:51:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/warden-1.0.6/lib/warden/manager.rb:35:in `block in call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/warden-1.0.6/lib/warden/manager.rb:34:in `catch'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/warden-1.0.6/lib/warden/manager.rb:34:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/client_side_validations-3.1.3/lib/client_side_validations/middleware.rb:18:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/actionpack-3.1.1/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/rack-1.3.5/lib/rack/etag.rb:23:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/rack-1.3.5/lib/rack/conditionalget.rb:25:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/actionpack-3.1.1/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/actionpack-3.1.1/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/actionpack-3.1.1/lib/action_dispatch/middleware/flash.rb:243:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/rack-1.3.5/lib/rack/session/abstract/id.rb:195:in `context'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/rack-1.3.5/lib/rack/session/abstract/id.rb:190:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/actionpack-3.1.1/lib/action_dispatch/middleware/cookies.rb:331:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/activerecord-3.1.1/lib/active_record/query_cache.rb:62:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/activerecord-3.1.1/lib/active_record/connection_adapters/abstract/connection_pool.rb:477:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/actionpack-3.1.1/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/activesupport-3.1.1/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/activesupport-3.1.1/lib/active_support/callbacks.rb:81:in `run_callbacks'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/actionpack-3.1.1/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/actionpack-3.1.1/lib/action_dispatch/middleware/reloader.rb:68:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/rack-1.3.5/lib/rack/sendfile.rb:101:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/actionpack-3.1.1/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/actionpack-3.1.1/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/railties-3.1.1/lib/rails/rack/logger.rb:13:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/rack-1.3.5/lib/rack/methodoverride.rb:24:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/rack-1.3.5/lib/rack/runtime.rb:17:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/activesupport-3.1.1/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/rack-1.3.5/lib/rack/lock.rb:15:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/actionpack-3.1.1/lib/action_dispatch/middleware/static.rb:53:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/railties-3.1.1/lib/rails/engine.rb:456:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/railties-3.1.1/lib/rails/rack/content_length.rb:16:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/railties-3.1.1/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/rack-1.3.5/lib/rack/handler/webrick.rb:59:in `service'
/Users/synthmax/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/synthmax/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/synthmax/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: partials/dimentions.\A               Load paths:\A                 Compass::SpriteImporter\A                 /Users/synthmax/Dropbox/hewa/public/stylesheets/sass\A                 /Users/synthmax/Dropbox/hewa/app/assets/stylesheets\A                 /Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/compass-0.11.5/frameworks/blueprint/stylesheets\A                 /Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/compass-0.11.5/frameworks/compass/stylesheets\A                 /Users/synthmax/.rvm/gems/ruby-1.9.2-p290@railspre/gems/compass-960-plugin-0.10.4/stylesheets\A         on line 1 of /Users/synthmax/Dropbox/hewa/app/assets/stylesheets/simple_form.css.scss\A \A 1: @import \"partials/dimentions\";\A 2: @import \"compass/css3/border-radius\";\A 3: \A 4: .simple_form{\A 5: 	color:#333;\A 6: 	margin-top:12px;"; }
