= "#{t('mailer.greeting', :user_name => @user.name || @user.email)}"
= "\n"
= "\n"
= t('mailer.order_placed.info')
= "\n"
= "\n"
= render 'order_details'
= "\n"
= "\n"
= render 'address_details'
= "\n"
= "\n"
= "\n"
= t('mailer.footer')
= "\n"
