// define colors from design_parts
$color_north_sea: #1A4C61;
$color_grey_eminence: #4C5C65;
$color_sea_form: #AACCCA;
$color_chert: #AFBCBA;
$color_sand_dune: #DEE0D5;
$color_calcium: #E9EAE6;
$color_red_algae: #B64D62;

@mixin template-color($color: $template-color-base, $color-mix: 100, $background-color: $template-background-color-base, $background-color-mix: 100) {
  color: mix($color, white, $color-mix);
/*  background-color: mix($background-color, white, $background-color-mix);*/
}

@mixin body-color($color: $color_light_gray, $color-mix: 100){
	background-color:mix($color, white, $color-mix);
}

@mixin content-color($color: $color_white, $color-mix: 100){
	background-color:mix($color, white, $color-mix);
}

@mixin banner-color($color: $color_north_sea, $color-mix: 100){
	background-color:mix($color, white, $color-mix);
}

@mixin back-color($color: $color_north_sea, $color-mix: 100){
	background-color:mix($color, white, $color-mix);
}


// set default colors for color mixin
$template-color-base: $color_grey_eminence;
$template-background-color-base: white;

// set default body color
$body_color: #d8d8d8;

$color_light_gray: #eee;
$color_white: #fff;

// set link color
$link-color: $color_red_algae;
