$color_white: #fff;
$color_light_gray: #eee;

$body_color: #d8d8d8;
$font-color: #333;
$orange-color: #e98c08;


// define colors from design_parts
$lagune: #c8e3d8;
$stone: #bfb9b0;
$sand: #e3e2df;
$aloe_vera: #809590;
$color_sand_dune: #DEE0D5;
$color_calcium: #E9EAE6;
$color_red_algae: #B64D62;

// set link color
$link-color: $color_red_algae;

// set default colors for color mixin
$template-color-base: $stone;
$template-background-color-base: white;


@mixin template-color($color: $template-color-base, $color-mix: 100, $background-color: $template-background-color-base, $background-color-mix: 100) {
  color: mix($color, white, $color-mix);
/*  background-color: mix($background-color, white, $background-color-mix);*/
}

@mixin body-color($color: $color_light_gray, $color-mix: 100){
	background-color:mix($color, white, $color-mix);
}

@mixin content-color($color: $color_white, $color-mix: 100){
	background-color:mix($color, white, $color-mix);
}

@mixin banner-color($color: $lagune, $color-mix: 100){
	background-color:mix($color, white, $color-mix);
}

@mixin std-color-color($color: $stone, $color-mix: 100){
	background-color:mix($color, white, $color-mix);
}
