/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require normalize
 *= require clearfix
 *= require grid
 *= require kontrapunkt
 *= require_self
 * require_tree . 
 *= require_directory . 
*/

@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "partials/color";
@import "partials/font";


body{
  margin:0px;

  // set link color
  a, a:hover, a:active, a:visited, a:link {
    //@include link-font;
    color: $link-color;
    padding: 2px;
    text-decoration: none;
  }
  
  label{
    display:block;
  }
}


/* JCrop preview */
.preview {
    width:100px;
    height:100px;
    overflow:hidden;
}


.row-flip
{
	background-color:#ddd;
}

.row-flop
{
	background-color:#ccc;
}

.sort-list-header
{
	background-color:#aaa;
	color:#000;
}

.current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.desc{
	padding-right:14px;
	background-image:url('arrow_up.png');
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:right top;
}

.asc{
	padding-right:14px;
	background-image:url('arrow_down.png');
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:right top;
}

.edit{
	text-align:right;
}


.notice, .alert{
	color:#f00;
}


.headline { @include template-color; @include font-header; }
/*
// some basic styles using fonts and color scheme
$color-base: $color_grey_eminence;
$background-color-base: $color_red_algae;
.headline { @include template-color; @include font-header; }
.col { @include template-color($color_chert, 100, $color_grey_eminence, 100); @include font-plain(18); }
.c100 { @include template-color($color-base, 100, $background-color-base, 100); @include font-plain; }
.c95 { @include template-color($color-base, 100, $background-color-base, 90); @include font-plain; }
.c80 { @include template-color($color-base, 100, $background-color-base, 80); @include font-plain; }
.c60 { @include template-color($color-base, 100, $background-color-base, 60); @include font-plain; }
.c40 { @include template-color($color-base, 100, $background-color-base, 40); @include font-plain; }
.c20 { @include template-color($color-base, 100, $background-color-base, 20); @include font-plain; }
.c10 { @include template-color($color-base, 100, $background-color-base, 10); @include font-plain; }
.c05 { @include template-color($color-base, 100, $background-color-base, 5); @include font-plain; }
*/
