/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 * require_directory . 
*/
@import "compass/css3";


body{
	margin-top:0px;

}


/* JCrop preview */
.preview {
    width:100px;
    height:100px;
    overflow:hidden;
}


.row-flip
{
	background-color:#ddd;
}

.row-flop
{
	background-color:#ccc;
}

.sort-list-header
{
	background-color:#aaa;
	color:#000;
}

.current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.desc{
	padding-right:14px;
	background-image:url('arrow_up.png');
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:right top;
}

.asc{
	padding-right:14px;
	background-image:url('arrow_down.png');
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:right top;
}

.edit{
	text-align:right;
}


