/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 * require_directory . 
*/

@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "partials/color";
@import "partials/font";
@import "partials/fancy-buttons";



body{
	margin-top:0px;
	background-color:$body_color;
}


p, a{
	@include font-plain;
}

// set link color
a,  a:active, a:visited, a:link {
  color: $link-color;
  text-decoration: none;
  background-color:transparent;

}

a:hover{
	color:$link-over-color;
}

label{
	display:block;
}

/* JCrop preview */
.preview {
    width:100px;
    height:100px;
    overflow:hidden;
}

.row-flip
{
	background-color:#ddd;
}

.row-flop
{
	background-color:#ccc;
}

.sort-list-header
{
	background-color:#aaa;
	color:#000;
}

.current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.desc{
	padding-right:14px;
	background-image:url('arrow_up.png');
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:right top;
}

.asc{
	padding-right:14px;
	background-image:url('arrow_down.png');
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:right top;
}

.edit{ text-align:right; }



img{
	@include border-radius(10px, 10px);
	border-style:solid;
	border-width:1px;
	border-color:#999;
	left:-2px;
	position:relative;
}


.notice, .alert{
	color:#f00;
}

a.fancy {
	@include fancy-button($template-color-base, 14px 0.5em);
}





// some basic styles using fonts and color schee
$color-base: $color_grey_eminence;
$background-color-base: $color_red_algae;
.headline { @include template-color; @include font-header; }
.col { @include template-color($color_chert, 100, $color_grey_eminence, 100); @include font-plain(18); }
.c100 { @include template-color($color-base, 100, $background-color-base, 100); @include font-plain; }
.c95 { @include template-color($color-base, 100, $background-color-base, 90); @include font-plain; }
.c80 { @include template-color($color-base, 100, $background-color-base, 80); @include font-plain; }
.c60 { @include template-color($color-base, 100, $background-color-base, 60); @include font-plain; }
.c40 { @include template-color($color-base, 100, $background-color-base, 40); @include font-plain; }
.c20 { @include template-color($color-base, 100, $background-color-base, 20); @include font-plain; }
.c10 { @include template-color($color-base, 100, $background-color-base, 10); @include font-plain; }
.c05 { @include template-color($color-base, 100, $background-color-base, 5); @include font-plain; }


#error {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } 
}



