/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require kontrapunkt
 * require normalize
 *= require clearfix
 *= require grid
 *= require_self
 * require_tree . 
 *= require_directory . 
*/

@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
/*@import "partials/color";*/
/*@import "partials/font";*/
@import "partials/dimentions";
@import "partials/fancy-buttons";



body{
  margin:0px;
/*  @include font-plain;*/
 /* color: $font-color;*/

}
/*
// set link color
a, a:hover, a:active, a:visited, a:link {
  //@include link-font;
 color: $link-color;
//  padding: 2px;
  text-decoration: none;
  &.fancy {
		@include fancy-button($template-color-base, 14px 0.5em);
	}
  &.fancy-admin {
	  @include fancy-button($color_red_algae, 14px 0.5em);
	}
}

a:hover{
	color: black;
	//background-color:#000;
	//* {
	//	background-color:#000;
	//}
	//img { 
	//	background-color:red; 
	//	//border-style:none;
	//	//border-width:0px;
	//	//margin:0px 0px -3px 0px;
	//	padding:-4;
	//}
}

*/


hr{
	margin:0px;
}

/* JCrop preview */
.preview {
    width:100px;
    height:100px;
    overflow:hidden;
}

/*
.row-flip{@include std-color-color($lagune, 50);}
.row-flop{	@include std-color-color($aloe_vera, 40);}

.row-flip2{@include std-color-color($stone, 80);}
.row-flop2{	@include std-color-color($sand, 100);}
*/

.row-flip{background-color:#eee;}
.row-flop{	background-color:#ddd;}

.row-flip2{background-color:#eee;}
.row-flop2{	background-color:#ddd;}


.sort-list-header {
/*	@include std-color-color($aloe_vera, 100);*/
	color:#000;
	.asc {
		padding-right:14px;
		background-image:url('arrow_down.png');
		background-repeat:no-repeat;
		background-color:transparent;
		background-position:right top;
	}
	.desc {
		padding-right:14px;
		background-image:url('arrow_up.png');
		background-repeat:no-repeat;
		background-color:transparent;
		background-position:right top;
	}
	a, a:hover, a:visited{
		/*@include  font-bold(14px);*/
		/*color:#000;*/
	}
}

/* FIXME where is this used? */
.current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

/* FIXME where is this used? */
.edit{
	text-align:right;
}


.logo-box{ margin:18px;}


.field{@include input_top_margin;}
.label{	@include input_top_margin;}
/*
.headline { @include template-color; }
*/
.input{ display:inline; }
.top-margin{@include input_top_margin;}
/*
.body-color{ @include body-color($color_white);}
.content-color{ @include content-color($color_white);}
*/
/*
h1{
	@include font-header(36px);
	margin:8px 0px 8px 0px;
}

h4{
	@include font-header(21px);
	margin:8px 0px 8px 0px;
}

h3{
	@include font-bold(32px);
	margin:8px 0px 8px 0px;
	color: $orange-color;
}
*/

.notice{
	color:#0a0;
	background-color:#efe;
	@include border-radius(5px, 5px);
	border-style:solid;
	border-width:1px;
	border-color:#888;
    min-height:32px;
	.message{
	  margin:8px;
	}
	
}
.alert{	
	color:#e00;
	background-color:#fee;
	@include border-radius(5px, 5px);
	border-style:solid;
	border-width:1px;
	border-color:#888;
    min-height:32px;
	.message{
	  margin:8px;
	}
}

/*
p{ @include font-plain(14px); color:#484848; }
b, strong{@include  font-bold(14px); color:#555;}
i{@include font-plain(14px); color:#484848;  }
*/
.news-blog{
	@include border-radius(5px, 5px);
	background-color:#eee;
	border-style:solid;
	border-width:1px;
	border-color:#888;
	margin-bottom:12px;
	.content{
		margin:8px;
	}
	h4{
		/*@include font-header(20px);*/
		margin:8px 0px 8px 0px;
	}
}
.news-blog:hover{
	background-color:#dadada;
}


.avatar-image-box{
	margin-bottom:20px;
	@include border-radius(5px, 5px);
	background-color:#eee;
	border-style:solid;
	border-width:1px;
	border-color:#888;
	width:232px;
	height:266px;
	display:block;
	overflow:hidden;
	img{ 
		left:-4px;
		position:relative;
	}
}

.product-line-image-box{
	margin-bottom:8px;
	@include border-radius(5px, 5px);
	background-color:#eee;
	border-style:solid;
	border-width:1px;
	border-color:#888;
	width:406px;
	height:406px;
	display:block;
	overflow:hidden;
	img{ 
		left:-4px;
		position:relative;
	}
}


.cutter-image-box{
	margin-bottom:8px;
	@include border-radius(5px, 5px);
	background-color:#eee;
	border-style:solid;
	border-width:1px;
	border-color:#888;
	width:754px;
	height:296px;
	display:block;
	overflow:hidden;
	img{ 
		left:-4px;
		position:relative;
	}
}

ul.simple {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}

.top-margin-8{
	margin-top:8px;
}

.border-box{
	@include border-radius(5px, 5px);
	background-color:#eee;
	border-style:solid;
	border-width:1px;
	border-color:#888;
	margin-bottom:12px;
	margin-top:4px;
}

.border-box:hover{
	background-color:#e0e0e0;
}
.inner-box{
	margin:10px;
	h4{
		/*color:$color_red_algae;*/
	}
	p{
		margin-bottom:10px;
	}	
}

.sub-calculation{
	border-bottom:dashed #999999;
	border-width:1px;
}

.pull-right {
  float: right;
}