/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 * require_directory . 
*/
body{
	margin-top:0px;
	background-color:#f00;

}

/* JCrop preview */
.preview {
    width:100px;
    height:100px;
    overflow:hidden;
}


.row-flip
{
	background-color:#ddd;
}

.row-flop
{
	background-color:#ccc;
}

