// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/border-radius";
@import "compass/css3/opacity";



body.home {
	
	.medium-image-box{
		margin-bottom:20px;
		@include border-radius(5px, 5px);
		background-color:#eee;
		border-style:solid;
		border-width:1px;
		border-color:#888;
		width:238px;
		height:238px;
		display:block;
		overflow:hidden;
		img{ 
			left:-4px;
			position:relative;
		}
		.overlay-text{
			background-color:#000;
			width:214px;
			@include opacity(0.55);
			top:-72px;
			min-height:60px;
			position:relative;
			padding:8px;
			width:238px;
		}
		h4{ margin:0px;}
		a{
			color:#fff;
			@include opacity(1.0);
		}

	}

	.medium-image-box:hover{
		@include opacity(0.8);
	}
	
}






