// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "partials/color";
@import "partials/font";


body.home {
  // Place scoped styles here
  background-color: $body_color;
  
  

  // compass helpers sample
  #mylogo {
    @include border-radius(4px, 4px);
    @include opacity(0.5);
  }
}


//
// sample style definitions
//

// set link color
a, a:hover, a:active, a:visited, a:link {
  color: $link-color;
  padding: 2px;
  text-decoration: none;
}


