// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/border-radius";



body.products {
  // Place scoped styles here

  img{
	@include border-radius(10px, 10px);
	border-style:solid;
	border-width:1px;
	border-color:#999;
	left:-2px;
	position:relative;
  }
}