@import "partials/dimentions";


.simple_form{
	
	label{
		@include input_top_margin;
		display:block;
	}

	.hint{
		font-style:italic;
			display:block;
	}

	.boolean{
		@include input_top_margin;
		display:inline;
	}
	
}

