// Place all the styles related to the text_contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "partials/color";

body.text_contents {
  // Place scoped styles here
  background-color: $body_color;
}

// set link color
a, a:hover, a:active, a:visited, a:link {
  color: $link-color;
  padding: 2px;
  text-decoration: none;
  background-color:transparent;
}

a:hover{
	color:$link-over-color;
}

h1{
	margin-top:12px;
}

h2, h3, h4, h5, h6{
	margin-top:0px;
}

h4{
	margin-bottom:2px;
}

hr{
	border-width:1px;
	border-color:#fff;
	color:#ff0;
	height:1px;
	margin:2px;
}

body{
	background-color:$body_color;
}